<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction Planner</title>

    {% block stylesheet_import %}{% endblock stylesheet_import %}

    <link href="{{ url_for('frontend', path='components/shared/navbar_base.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@latest/bundles/datastar.js"></script>

</head>

<body data-init="@get('/navbar')" 
    data-signals="
    {
        _showNotifs:false, _showProfile:false,
        notifCount: 0, avatarImgSrc: ''
    }" 
    data-class-notifications-open="$_showNotifs">
    <header class="navbar">

        <div class="logo">
            <a href="/">
                <i class="fa-regular fa-calendar-days" href="/"></i>
                <span>Instruction Planner</span>
            </a>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/settings/profile">Profile</a>
            <a href="/instructions/history">Past Instructions</a>
            <a href="/statistics">Statistics</a>
        </nav>

        <div class="nav-actions">

            <button class="notification-btn"
                data-on:click="
                    $_showNotifs = !$_showNotifs;
                    $_showNotifs && @get('/navbar/notifications')">

                <i class="fa-regular fa-bell"></i>

                <span class="badge"
                    data-text="$notifCount"></span>
            </button>

            <div class="profile-wrapper">

                <button class="profile-btn"
                    data-on:click="
                        $_showProfile = !$_showProfile;
                        $_showProfile && @get('/user')">

                    <img class="avatar" data-attr:src="$avatarImgSrc" alt="Profile">

                </button>

                <div class="profile-dropdown" data-class:open="$_showProfile">

                    <div class="profile-header">

                        <img class="profile-large-image" data-attr:src="$avatarImgSrc" alt="Profile">

                        <div class="profile-info">
                            <strong data-text="$username"></strong>
                            <small data-text="$email"></small>
                        </div>

                    </div>

                    <div class="profile-actions">

                        <a href="/settings/account">
                            <i class="fa-solid fa-gear"></i>
                            <span>Settings</span>
                        </a>

                        <button data-on:click="@post('/auth/logout')">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Logout</span>
                        </button>

                    </div>

                </div>

            </div>

        </div>

    </header>

    <div class ="app-layout" data-class-notifications-open="$_showNotifs">

        <div class="content">
            {% block body_content %}{% endblock body_content %}
        </div>
        {% include 'components/home/notifications/notifications.html' %}

    </div>

</body>

</html>
