<!-- Navigation -->

<aside class="settings-nav" data-signals="{_activePath: window.location.pathname}">

   {% include 'components/settings/navbar_link.html' %} href = "/settings/profile">
        <span class="nav-icon">◯</span>
        Public profile
    </a>

   {% include 'components/settings/navbar_link.html' %} href = "/settings/account">
        <span class="nav-icon">⚙</span>
        Account
    </a>

    {% include 'components/settings/navbar_link.html' %} href = "/settings/appearance">
        <span class="nav-icon">◐</span>
        Appearance
    </a>

   {% include 'components/settings/navbar_link.html' %} href = "/settings/accessibility">
        <span class="nav-icon">⚝</span>
        Accessibility
    </a>

    {% include 'components/settings/navbar_link.html' %} href = "/settings/notifications">
        <span class="nav-icon">♧</span>
        Notifications
    </a>

</aside>